@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .feature {
    @apply bg-white mb-24 p-6 pb-8 pt-16 text-center relative rounded-md after:absolute after:w-2 after:h-24 after:bg-primary-cyan after:left-1/2 after:-translate-x-1/2 after:top-full md:after:-rotate-90 md:after:left-full md:after:h-full md:after:top-1/2 md:after:-translate-y-1/2 md:after:z-[-1] md:mb-0 md:text-left md:px-10;
  }

  .feature-title {
    @apply font-bold text-2xl text-darker-blue mb-3;
  }

  .about-feature {
    @apply text-grayish-violet;
  }

  .feature-img {
    @apply absolute left-1/2 -translate-x-1/2 -top-10 bg-dark-violet rounded-full w-20 h-20;
  }

  .feature-img img {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .footer-feature-title {
    @apply mb-6 font-semibold;
  }

  .footer-features {
    @apply text-neutrall-gray flex flex-col gap-2;
  }
}

.get-started {
  background-image: url("../public/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

form {
  background-image: url("../public/images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

@media (min-width: 1100px) {
  .get-started {
    background-image: url("../public/images/bg-boost-desktop.svg");
  }

  form {
    background-image: url("../public/images/bg-shorten-desktop.svg");
  }
}
